<%- include("includes/header"); -%>

<div class="col-sm-9 col-md-10">
  <div class="row">
    <div class="col-sm-6">
      <form class="mt-5 mx-5" method="POST">
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" value="" readonly>
        </div>
        <div class="form-group">
          <label for="inputNewPassword">New Password</label>
          <input type="password" class="form-control" id="inputNewPassword" placeholder="New Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary mr-4 mt-4" name="passUpdate">Update</button>
        <button type="reset" class="btn btn-secondary mt-4">Reset</button>
      </form>

    </div>

  </div>
</div>
</div>
</div>

<%- include("includes/footer"); -%>