<%- include("patientheader"); -%>

<div class="col-sm-9 col-md-10 mt-5">
  <form class="mx-5" action="/appointment" method="POST">
    <div class="form-group">
      <label for="patientName">Name</label>
      <input type="text" class="form-control" id="patientName"  value="<%=user.name%>" placeholder="Enter Name" name="name" readonly>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="patientBranch">Year</label>
        <select name="year" id="patientYear" class="form-control" required>
          <option value="">--Select your Year(and Semester)--</option>
          <option value="1st Year 1st Sem">1st Year 1st Sem</option>
          <option value="1st Year 2nd Sem">1st Year 2nd Sem</option>
          <option value="2nd Year 3rd Sem">2nd Year 3rd Sem</option>
          <option value="2nd Year 4th Sem">2nd Year 4th Sem</option>
          <option value="3rd Year 5th Sem">3rd Year 5th Sem</option>
          <option value="3rd Year 6th Sem">3rd Year 6th Sem</option>
          <option value="4th Year 7th Sem">4th Year 7th Sem</option>
          <option value="4th Year 8th Sem">4th Year 8th Sem</option>
      </select>
      </div>
      <div class="form-group col-md-4">
        <label for="patientBranch">Branch</label>
        <select name="branch" id="patientBranch" class="form-control" required>
          <option value="">--Select your branch--</option>
          <option value="Information Technology">Information Technology(IT)</option>
          <option value="Electronics and Communication">Electronics and Communication(ECE)</option>
          <option value="Computer Science and Engineering">Computer Science and Engineering(CSE)</option>
      </select>
      </div>
      <div class="form-group col-md-4">
        <label for="patientID">Roll Number</label>
        <input type="text" class="form-control" id="patientID" name="patientRollNumber" onkeypress="isInputNumber(event)" placeholder="Without suffix IIITU e.g. 17329" required>
      </div>
    </div>
    <div class="form-group">
      <label for="appointmentDesc">Description</label>
      <input type="text" class="form-control" id="appointmentDesc" placeholder="Write Description" name="description" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="symptoms">Symptoms</label>
        <input type="text" class="form-control" id="symptoms" placeholder="Cough" name="symptoms" required>
      </div>
      <div class="form-group col-md-6">
        <label for="pastIllness">Past Illness/Allergies</label>
        <input type="text" class="form-control" id="pastIllness" placeholder="Asthama" name="allergies" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="patientEmail">Email</label>
        <input type="email" class="form-control" id="patientEmail" value="<%=user.email%>" placeholder="Official E-mail" name="email" required readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="patientMobile">Mobile</label>
        <input type="text" class="form-control" id="patientMobile" name="mobile" onkeypress="isInputNumber(event)" pattern="[5-9]{1}[0-9]{9}" required>
      </div>
      <div class="form-group col-md-2">
        <label for="appointmentDate">Date</label>
        <input type="date" class="form-control" id="appointmentDate" name="date" onchange="validateDate()" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" name="submitRequest">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
  </form>

</div>
</div>
</div>
<!-- Only Number for input fields -->
<script>
  function isInputNumber(evt) {
    var ch = String.fromCharCode(evt.which);
    if (!(/[0-9]/.test(ch))) {
      evt.preventDefault();
    }
  }
  var today = new Date().toISOString().split('T')[0];
document.getElementsByName("date")[0].setAttribute('min', today);

</script>
</div>

<%- include("patientfooter"); -%>
