<%- include("includes/header"); -%>



<div class="col-sm-6 mt-5  mx-3 jumbotron">
  <h3 class="text-center">Update Doctor's Details</h3>
  <form action="/insertDoctor" method="POST">
    <!-- <div class="form-group">
      <label for="docId"> ID</label>
      <input type="text" class="form-control" id="docId" name="docId" value=""
        readonly>
    </div> -->
    <div class="form-group">
      <label for="docName">Name</label>
      <input type="text" class="form-control" id="docName" name="docName" value="" pattern="[a-zA-Z\s]+" oninvalid="setCustomValidity('Plz enter only Alphabets and Spaces only')" onchange="try{setCustomValidity('')}catch(e){}" required>
    </div>
    <div class="form-group">
      <label for="docSpl">Specialist</label>
      <input type="text" class="form-control" id="docSpl" name="docSpl" value="" required>
    </div>
    <div class="form-group">
      <label for="docMobile">Mobile</label>
      <input type="text" class="form-control" id="docMobile" name="docMobile" value=""
        onkeypress="isInputNumber(event)" pattern="[5-9]{1}[0-9]{9}" required>
    </div>
    <div class="form-group">
      <label for="docTimings">Timings</label>
      <input type="text" class="form-control" id="docTimings" name="docTimings" placeholder="For e.g. 7AM-7PM" value="" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" id="docupdate" name="docupdate">Update</button>
      <a href="doctors" class="btn btn-secondary">Close</a>
    </div>
  </form>
</div>
<!-- Only Number for input fields -->
<script>
  function isInputNumber(evt) {
    var ch = String.fromCharCode(evt.which);
    if (!(/[0-9]/.test(ch))) {
      evt.preventDefault();
    }
  }
</script>


<%- include("includes/footer"); -%>