<<<<<<< HEAD

<%- include("patientheader"); -%>

<div class="col-sm-6 mt-5">
  <form class="mx-5" method="POST">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" value="" readonly>
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" name="rName" value="" readonly>
    </div>
  </form>
</div>
</div>
</div>

=======

<%- include("patientheader"); -%>

<div class="col-sm-6 mt-5">
  <form class="mx-5" method="POST">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" value="" readonly>
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" name="rName" value="" readonly>
    </div>
  </form>
</div>
</div>
</div>

>>>>>>> 8faabe5ef5fe79d0b3989f2c2fbac80f6c0a0529
<%- include("patientfooter"); -%>