
.container-fluid{
	padding: 7% 15%;
}


/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a {
  color: #fff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
  color: #8d94d4;
}


/* Make Header Image Responsive */
.back {
  border-radius: 0px;
  padding:7% 7%;
}


/* big-heading */
.big-heading{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 4rem;
  line-height: 1.5;
  color: beige;
}

.title-image{
  width: 80%;
  position:static;
	right: 30%;
}

/* Header Image Sub-Title */
.font-italic {
  font-size: 24px;
}

a {
  color: black;
}

a:hover {
  color: #8d94d4;
}
.top-button{
	margin: 5% 3% 5% 0;
}
/* Change Footer Icon Link Color */
.fi-color {
  color: #3b7c91;
}

fi-color:hover {
  color: #8d94d4;

}

/* Setting Margin and Alignment for Welcome to Health centre Mobile View */
@media (max-width: 1260px){
	
	#title{
		text-align: center;
	}

	.title-image{
		position: static;
  }
  
}

.fade_rule {
  height: 1px;
  background-color: #E6E6E6;
  width: 66.0em;
  margin: 0 auto;
  background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}