<%- include("includes/header"); -%>


<div class="col-sm-9 col-md-10 mt-5">
  <table class="table">
   <thead>
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Year</th>
       <th scope="col">Branch</th>
       <th scope="col">ID</th>
       <th scope="col">Description</th>
       <th scope="col">Symptoms</th>
       <th scope="col">Doctor-Assigned</th>
       <th scope="col">Assigned Date</th>
       <th scope="col">Mark-Done</th>
     </tr>
   </thead>
   <tbody>
    <tr>
     <th scope="row"></th>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td>
     <form action="" method="POST" class="d-inline"><input type="hidden" name="id" value=''>
       <button type="submit" class="btn btn-secondary" name="delete" value="Delete"><i class="far fa-trash-alt"></i>
       </button>
     </form>
     </td>
     </tr>
   </tbody> 
 </table>
 </div>
 </div>
 </div>


 <%- include("includes/footer"); -%>